<a href="https://colab.research.google.com/github/erazocar/usefultools/blob/main/modifycross.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Extracting info from TELEMAC2D results**

Please use this notebook if you have a specific using pandas and numpy.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

Upload the documents that you would like to read and modify by clicking on the folder symbol.

In [4]:
df = pd.read_csv('myfile.txt')

In [5]:
df.head()

                               TITLE = "FLUXES FOR "
0   VARIABLES = TIME Rhein_upstream_(Fm780900 Rhe...
1     401.30405139297       2502.2886750558      ...
2     2544.4234040020       2520.3263074833      ...
3     604.57027166055       2500.4650450835      ...
4     2584.4340985782       2507.4962080400      ...