<a href="https://colab.research.google.com/github/erazocar/usefultools/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Extracting info from TELEMAC2D results**

Please use this notebook if you have a specific using pandas and numpy.

In [149]:
import pandas as pd
import numpy as np
import matplotlib as mp

Upload the documents that you would like to read and modify by clicking on the folder symbol.

In [154]:
df = pd.read_csv('myfile.txt', header=None, delim_whitespace=True,skiprows=1)

In [155]:
df.head

<bound method NDFrame.head of                      0  ...                  8
0            VARIABLES  ...  DYKE_BREACH802000
1      401.30405139297  ...                NaN
2      2544.4234040020  ...                NaN
3      604.57027166055  ...                NaN
4      2584.4340985782  ...                NaN
...                ...  ...                ...
27428  3741.5819483557  ...                NaN
27429  1999953.3227812  ...                NaN
27430  3743.3375344980  ...                NaN
27431  2000000.0000000  ...                NaN
27432  3741.5011257094  ...                NaN

[27433 rows x 9 columns]>

If you have a problem with your headings, consider removing it and manually insert them or read them from the data frame.

In [113]:
headings = list(df.loc[0])

In [114]:
print(headings)

['VARIABLES', '=', 'TIME', 'Rhein_upstream_(Fm780900', 'Rhein_mid0_(Fm789600)', 'Rhein_mid_(Fm798300)', 'Rhein_mid2_(Fm807600)', 'Rhein_wesel_(Fm813800)', 'DYKE_BREACH802000']

Remove the first two variables from the header.

In [121]:
del headings[0:2]

After modifying the headers, drop the row containing headers on the original dataframe and modify it with the updated version.

In [140]:
print(headings)

['Rhein_upstream_(Fm780900', 'Rhein_mid0_(Fm789600)', 'Rhein_mid_(Fm798300)', 'Rhein_mid2_(Fm807600)', 'Rhein_wesel_(Fm813800)', 'DYKE_BREACH802000']

In [182]:
df1 = df.drop([0], axis=0)

In [189]:
pd.set_option("display.max_rows", 10, "display.max_columns", 5)

In [199]:
print(df1.loc[1])

0    401.30405139297
1    2502.2886750558
2    2658.3297134578
3    2591.6810936422
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
Name: 1, dtype: object

In [ ]:
pd2 = df1.concat()